body {
    color: black;
}

#logo-contacts {
    margin-top: 2em;
    margin-bottom: 1.5em;
}

#lang-share div:first-child {
    margin-bottom: 0.5em;
}

#social-media i {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}

#social-media a:hover i {
    color: crimson;
}

#social-media {
    letter-spacing: 0.25em
}

#select-language a {
    text-decoration: none;
    color: #55585b;
}

#select-language a.lang-active {
    text-decoration: none;
    color: #343537;
    font-weight: 800;
}

#select-language a:not(.lang-active):hover {
    color: crimson;
}

#contact-info p {
    font-size: 0.75em;
    margin: 0.25em;
}

#contact-info i.fa-phone {
    font-size: 1.15em;
    color: crimson;
}


@media (max-width: 576px) {
    #contact-info {
        display: none !important;
    }

    #lang-share {
        display: none;
    }

    nav#menu-desktop {
        display: none;
    }

    nav#mobile-menu {
        position: fixed;
        top: -1px;
        left: 0;
        right: 0;
        padding-top: 0.75em;
        padding-right: 1.5em;
        padding-bottom: 0.75em;
        padding-left: 1.5em;
        background-color: #000000;
        z-index: 1500;
    }

    nav#mobile-menu i, nav#mobile-menu .cart a {
        color: white;
        font-weight: 400;
    }

    nav#mobile-menu .cart i {
        color: crimson;
    }

    .dropdown-menu.mobile {
        position: fixed;
        top: 2.5em;
        padding-left: 1.5em;
        border: none;
        background-color: #000000;
        width: 100%;
        z-index: 1500;
    }

    .dropdown-menu.mobile a {
        color: white;
        font-weight: 400;

    }
    .dropdown-menu.mobile a.active {
        background-color: #000000;
    }

    #logo-contacts {
        padding-top: 2em;
    }

    nav#mobile-menu .nav-link {
        padding: 0;
    }
}

@media (min-width: 577px) {
    nav#mobile-menu {
        display: none;
    }
}

.nav-link:hover {
    border: none;
}